h1 {
    color: #C5445C;
    font-family: "ms sans serif";
    font-size: 30px

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans";
    scroll-behavior: smooth;
}

nav {
    display:flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    background:#CA5369;
}

ul{
    display:flex;
    list-style:none;
    width: 25%;
    justify-content: space-between;
}

footer {
    box-shadow: 0 50vh 0 50vh #CA5369;
}

main,footer {
    width:1200px;
    margin:auto;
    text-align:center;
}

h3 {
    color: white;
    font-family: "Arial";
    font-size: 20px
}

footer {
    font-size: 30px;
}

#prev:hover,
#next:hover {
    cursor: pointer;
}

button {
    font-size: 100px;
}